<%- include("partials/header") -%>
    </head>
    <body>
        <h1 style="font-size: xxx-large; margin: 5% 0;" class="text-center">Weather Point</h1>
            <div id="child" style="margin-top: 3% ;">
                <center><h1 style="border-bottom: 2px solid black;margin-bottom: 8px;font-size: xx-large;">Weather Data</h1></center>
                <h1 style="margin-top: 40px;">Temperature:  <%= temperature %>° C </h1>
                <h1>Country Code:  <%= countryName %> </h1>
                <h1>Location Name:  <%= locationName %> </h1>
                <h1>Weather-type:  <%= weather %> </h1>
                <h1>Wind Speed:  <%= windSpeed %> </h1>
         </div>
    </body>
</html>